{% extends './_base.html' %}
{% load static %}

{% block title %}
Forgot Password
{% endblock %}


{% block content %}

<div class="w-full">
    <div class="p-4 text-white bg-background_primary flex space-x-2 items-center">
        <i class="ti ti-exclamation-mark"></i>
        <h2 class="font-bold text-xs md:text-lg"> Kindly provide your email associated with your account.
        </h2>
    </div>

    <div class="p-3 space-y-4 bg-white">

        <!-- Login Form -->
        <form class="mt-8 space-y-6" method="POST" id="forgotPasswordForm">
            <div class="rounded-md shadow-sm space-y-4">
                <div>
                    <label for="account-number" class="block text-sm font-medium text-gray-700">
                        Email Address
                    </label>
                    <div class="mt-1">
                        <input id="email" name="email" type="email" required pattern="[0-9]{10,12}" autocomplete="off"
                            class="appearance-none rounded-lg relative block w-full px-4 py-3 border border-gray-300 placeholder-gray-400 text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                            placeholder="example@crex.com">
                    </div>
                </div>

                <div class="flex items-center space-x-3">
                    <button type="submit"
                        class="px-10 py-3 rounded-md bg-background_primary text-white font-semibold text-sm">Submit</button>

                    <button type="reset"
                        class="px-10 py-3 rounded-md border border-background_primary hover:bg-background_primary duration-300 text-background_primary hover:text-white font-semibold text-sm">Reset</button>
                </div>

                <!-- Registration Prompt -->
                <div class="text-center text-sm text-gray-500">
                    Don't have an account?
                    <a href="{% url 'auth:signup' %}" class="font-medium text-blue-500 hover:text-blue-700">
                        Enroll now
                    </a>
                </div>
        </form>
        <!-- Security Disclaimer -->
        <div class="mt-8 text-center text-xs text-gray-400">
            <svg class="inline-block h-4 w-4 mb-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z">
                </path>
            </svg>
            <p class="mt-1">
                We use bank-grade security measures to protect your information.
            </p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#error-message, #success-message").hide();

        $("#forgotPasswordForm").submit(function (e) {
            e.preventDefault();

            let formData = new FormData(this);

            $.ajax({
                type: "POST",
                url: "{% url 'auth:login' %}",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log(response);

                    if (response.success === true) {
                        $("#error-message").hide();
                        $("#success-message").show().find("p").text(response.message); // Show success message and update text
                    } else {
                        $("#success-message").hide(); // Hide success message
                        $("#error-message").show().find("p").text(response.message); // Show error message and update text
                    }
                },
                error: function (error) {
                    $("#success-message").hide(); // Hide success message
                    $("#error-message").show().find("p").text("An error occurred. Please try again"); // Show error message
                }
            })
        })
    })
</script>
{% endblock content %}