{% extends '../_base.html' %}
{% load static %}

{% block title %}
KYC
{% endblock %}

{% block content %}
<div class="space-y-10">
    <div class="space-y-2 text-center mt-2">
        <h1 class="font-semibold md:text-5xl text-xl text-white">KYC Verification</h1>
        <p class="text-md text-gray-400 font-medium md:w-3/4 w-full mx-auto">To comply with regulation each participant
            will have to go through
            indentity verification (KYC/AML) to prevent fraud causes.</p>
    </div>

    <div
        class="w-full md:w-3/4 mx-auto p-20 border border-gray-800 shadow-sm shadow-black rounded-sm space-y-8 flex items-center justify-center flex-col bg-[#141C26]">
        <i
            class="w-20 h-20 flex items-center justify-center text-4xl rounded-full border border-gray-500 text-white ti ti-file font-black stroke-2"></i>

        <p class="text-lg font-medium text-gray-500">
            You have not submitted your necessary documents to verify your identity. In order to continue using
            Crexstitutes online banking products, please verify your identity.
        </p>

        <a href="{% url 'user:complete_verification' %}"
            class="px-6 py-3 rounded-md bg-blue-700 hover:bg-blue-900 duration-300 text-white font-semibold flex items-center space-x-2">
            <i class="stroke-2 ti ti-credit-card text-lg"></i>
            <span>Click here to complete your KYC</span>
        </a>
    </div>
</div>
{% endblock %}