{% extends './_base.html' %}
{% load static %}

{% block title %}
Customer Care Desk
{% endblock %}

{% block content %}
<div class="space-y-10">
    <div class="p-3 border border-gray-700 text-white rounded-xs">
        <div class="flex flex-col md:flex-row space-x-4 items-center justify-between">
            <div class="space-y-1 w-[70%]">
                <h2 class="text-2xl font-normal">Customer care Desk</h2>
                <p class="text-gray-500 text-sm">Our customer Care representatives are always committed in giving you
                    the best banking experience.</p>
            </div>

            <div class="flex items-center justify-end space-x-3 w-[30%]">
                <a href="{% url 'user:interbank_transfer' %}"
                    class="px-6 py-2 rounded-sm bg-gray-700 text-gray-400 hover:bg-gray-600 duration-300 font-semibold">
                    Transfer Fund
                    <i class="ti ti-wallet"></i>
                </a>

            </div>
        </div>
    </div>

    <div class="bg-[#141C26] border border-gray-800">
        <div class="p-5 rounded-sm bg-[#3140FC] text-[#98A5E0] flex items-center space-x-5 border-b border-black">
            <h3 class="text-lg font-semibold text-white">Create a support ticket</h3>
        </div>

        <form class="p-6 space-y-3">
            <div class="space-y-2">
                <select name="department" id="department"
                    class="px-3 py-2 border border-gray-500 bg-transparent text-white outline-none rounded-md w-full">
                    <option value="------">Please Select Customer Service Department</option>
                </select>
            </div>

            <div class="space-y-2">
                <textarea name="department" id="department"
                    class="px-3 py-2 border border-gray-500 bg-transparent text-white outline-none rounded-md w-full"
                    placeholder="Type your complaints" rows="5"></textarea>
            </div>

            <button type="submit"
                class="px-5 py-3 rounded-md bg-blue-700 hover:bg-blue-800 duration-300 text-white font-bold text-sm">Submit</button>
        </form>
    </div>

    <div class="bg-[#141C26] border border-gray-800">
        <div class="p-5 rounded-sm bg-[#3140FC] text-[#98A5E0] flex items-center space-x-5 border-b border-black">
            <h3 class="text-lg font-semibold text-white"> Previous support tickets</h3>
        </div>

        <div class="p-8 border border-gray-800 space-y-5 bg-[#141C26] shadow-mg shadow-black">
            <div class="flex items-center justify-between">
                <input type="search" name="search" id="search"
                    class="px-3 py-2 border border-gray-500 bg-transparent text-white outline-none rounded-sm md:w-1/4 w-full text-sm"
                    placeholder="Type in to Search" />

                <div class="flex space-x-2 items-center">
                    <span class="text-gray-400 text-md">Show</span>

                    <select name="show" id="show"
                        class="px-5 py-2 border border-gray-500 bg-transparent text-white outline-none rounded-sm w-full">
                        <option value="10" class="bg-background_primary">10</option>
                        <option class="bg-background_primary"" value=" 25">25</option>
                        <option class="bg-background_primary"" value=" 50">50</option>
                        <option class="bg-background_primary"" value=" 100">100</option>
                    </select>
                </div>
            </div>

            <div class="border border-gray-800 bg-[#141C26] shadow-mg shadow-black">
                <div class="grid grid-cols-2 md:grid-cols-5 border-b border-gray-800">
                    <div class="px-3 py-2 flex items-center justify-between cursor-pointer">
                        <span class="font-semibold text-gray-400 text-sm">Recipient</span>
                        <i class="ti ti-adjustments text-gray-400"></i>
                    </div>
                    <div class="px-3 py-2 flex items-center justify-between cursor-pointer">
                        <span class="font-semibold text-gray-400 text-sm">Ref Number</span>
                        <i class="ti ti-adjustments text-gray-400"></i>
                    </div>
                    <div class="px-3 py-2 flex items-center justify-between cursor-pointer">
                        <span class="font-semibold text-gray-400 text-sm">Datw</span>
                        <i class="ti ti-adjustments text-gray-400"></i>
                    </div>
                    <div class="px-3 py-2 flex items-center justify-between cursor-pointer">
                        <span class="font-semibold text-gray-400 text-sm">Amount</span>
                        <i class="ti ti-adjustments text-gray-400"></i>
                    </div>
                    <div class="px-3 py-2 flex items-center justify-between cursor-pointer">
                        <span class="font-semibold text-gray-400 text-sm">Description</span>
                        <i class="ti ti-adjustments text-gray-400"></i>
                    </div>
                </div>

                <div class="grid grid-cols-2 md:grid-cols-5">
                    <div class="col-span-5 p-2">
                        <h3 class="text-gray-400 text-center">No data available in table</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}